* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --primary-background: #FBFAF2;

    --title: 5rem;
    --subtitle: 4rem;
    --heading1: 3rem;
    --heading2: 2rem;
    --text: 1.5rem;
    background-color: var(--primary-background);
    font-family: 'Cormorant Garamond', serif;
}

/* Initial Loading Spinner */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader-wrapper {
    background-color: var(--primary-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
}

.loader {
    width: 40px;
    height: 40px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-top: calc(50vh - 20px);
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

header {
    background-color: var(--primary-background);
    display: contents   ;
}

.title {
    color: black;
    font-size: var(--title);
    padding: .1rem 1rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

#menu-bar {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    background-color: var(--primary-background);

}

#menu-bar-icon-container {
    display: none;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-background);
}

#menu-bar-icon {
    color: black;
    font-size: var(--heading2);
}

.menu-line {
    height: 1px;
    background-color: #000000;
    margin: 10px;
}

#menu-bar ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center ;
}

#menu-bar ul li {
    padding: 10px;
    font-size: var(--heading2);
}

#menu-bar ul li:hover {
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-thickness: 5%;
}

#menu-bar ul li.active {
    text-decoration-line: underline;
    text-decoration-thickness: 5%;
}


main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
}

#landing-section p {
    font-size: var(--text);
}

#project-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 5rem;
}

.project-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    outline: black solid 1px;
    max-width: 65vw;
}

.project-name {
    font-size: var(--heading1);
}

.project-image {
    max-width: 100%;
    max-height: 75vh;
}

.project-description {
    font-size: var(--text);
    padding: 1rem;
    flex: 1 1 0;
}

#contact-section {
    font-size: var(--text);
    display: flex;
    align-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

#contact-img {
    width: 100%;
}

.contact-img-desc {
    color: lightslategray;
    /* position: absolute;
    bottom: 0;
    right: 0; */
}

.contact-img-container {
    width: 50vw;
    height: 100%;
}

.contact-col {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.contact-socials {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contact-socials a{
    font-size: 2rem;
    color:#000000;
}

footer {
    background-color: var(--primary-background);
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer small {
    padding: 5px;
}