* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-background: #FBFAF2;

    --title: 5rem;
    --subtitle: 3rem;
    --heading1: 2rem;
    --heading2: 1.5rem;
    background-color: var(--primary-background);
    font-family: 'Cormorant Garamond', serif;
}

/* Initial Loading Spinner */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader-wrapper {
    background-color: var(--primary-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
}

.loader {
    width: 40px;
    height: 40px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-top: calc(50vh - 20px);
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

header {
    background-color: var(--primary-background);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title {
    font-size: var(--title);
    padding: .1rem 1rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

#oc-container {
    flex: 1;
}

.oc-text {
    font-size: var(--subtitle);
    display: none;
    font-style: italic;
    padding: .1rem 1rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.oc-text-shown {
    display: flex;
    justify-content: space-around;

}

#menu-bar {
    position: sticky;
    top: 1px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;

}

.menu-line {
    height: 1px;
    background-color: #000000;
    margin: 10px;
}

#menu-bar ul {
    display: flex;
    list-style: none;
}

#menu-bar ul li {
    padding: 10px;
    font-size: var(--heading2);
}

#menu-bar ul li:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
}

#project-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project-container {
    display: block;
    align-items: center;
}

.project-name {
    font-size: var(--heading1);
}

.project-image {
    max-width: 40vw;
    max-height: 100%;
}

footer {
    background-color: var(--primary-background);
}

footer small {
    padding: 5px;
}